@import '../../style/mixin.scss';

.card-list {
  display: grid;
  grid-template-columns: repeat(1, 350px);
  gap: 20px;
  justify-content: center;

  @include onTablet {
    gap: 20px 28px;
    grid-template-columns: repeat(2, 350px);
  }

  @include onDescktop {
    gap: 46px 16px;
    grid-template-columns: repeat(2, 387px);
  }
}
