@import '../../style/mixin.scss';

.main {
  padding: 0 15px 130px;
  transition: all 0.3s ease;

  @include onDescktop {
    padding-bottom: 51px;
  }

  &__wrapper {
    max-width: 810px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }
}

.section {
  margin-bottom: 60px;

  &__title {
    margin-bottom: 20px;

    font-size: 2.1875rem;
    font-weight: 900;
    line-height: 45.5px;

    letter-spacing: 0.5px;
    text-align: center;

    @include linearGradientText;
    @include onTablet {
      text-align: left;
    }
  }

  &__text {
    font-size: 1.25rem;
    line-height: 32px;
    color: var(--textColor);
  }
}

.article {
  @include onDescktop {
    padding-bottom: 56px;
  }

  &__title {
    margin: 0 0 37px 10px;

    font-size: 1.25rem;
    font-weight: 700;
    line-height: 26px;
    color: var(--textColor);

    &::after {
      @include pseudoElement(44px, 8px, 9px);
    }
  }
}

.ads-card {
  display: none;
  width: 300px;
  height: 600px;
  border-radius: 20px;

  @include onDescktop {
    display: block;
    background-image: linear-gradient(
      to bottom,
      var(--gradientEndHot),
      var(--gradientStartHot)
    );
  }
}
