@import '../../style/mixin.scss';

.banner-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include onDescktop {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__text {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--textColor);
  }

  &__button {
    width: 20px;
    height: 15px;
    border: none;

    cursor: pointer;
    background-color: transparent;
  }
}
